h1 {
    color: blue;
    text-align: left;
}
#divTopo {
   padding: 20px;
   height: 50px;
   margin-bottom: 10px;
   background: #dddddd;
   border: 1px solid darkGray;
}
#divMenu {
   border: thin solid lightGray;
   padding: 10px;
   width: 300px;
   background: #eeeeee;
   font-size: 40px;
   height: 680px;
}
#conteudo {
   padding: 10px;
   border: thin solid lightGray;
   background: #fefeef;
   position: absolute;
   right: 8px;
   left: 340px;
height: 680px;
   top: 106px;
}